JWT_SECRET="ENTER JWT SECRET KEY"
GEMINI_API_KEY="ENTER GEMINI KEY"
WEB3FORMS_ACCESS_KEY="ENTER WEB3FORMS ACCESS KEY"
GROQ_API_KEY="ENTER GROQ API KEY"
CLOUDINARY_CLOUD_NAME="ENTER CLOUDINARY CLOUD NAME"
CLOUDINARY_API_KEY="ENTER CLOUDINARY API KEY"
CLOUDINARY_API_SECRET="ENTER CLOUDINARY API SECRET"